<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dby.njxinch.dao.dictionary.DictionaryDao">
    <resultMap id="dictionaryMapper" type="com.dby.njxinch.model.DataDictionary">
        <id property="dicId" column="F_DIC_ID"/>
        <result property="parentId" column="F_PARENT_ID"/>
        <result property="name" column="F_NAME"/>
        <result property="code" column="F_CODE"/>
        <result property="identy" column="F_IDENTY"/>
        <result property="description" column="F_DESCRIPTION"/>
        <result property="status" column="F_STATUS"/>
        <result property="remark" column="F_REMARK"/>
        <result property="createBy" column="F_CREATE_BY"/>
        <result property="createTime" column="F_CREATE_TIME"/>
    </resultMap>


    <!--获取主父节点-->
    <select id="getDictionaryList" resultMap="dictionaryMapper">
      select * from t_data_dictionary
    </select>

    <!--删除节点 当前节点 和 子节点-->
    <delete id="delDictionary" parameterType="java.util.Map">
        DELETE FROM t_data_dictionary WHERE F_DIC_ID=#{dicId} or F_PARENT_ID=#{dicId}
    </delete>

    <!--新增节点-->
    <insert id="saveDictionaryData" parameterType="java.util.Map">
        INSERT INTO t_data_dictionary(
        F_PARENT_ID,
        F_NAME,
        F_CODE,
        F_IDENTY,
        F_DESCRIPTION,
        F_STATUS,
        F_REMARK,
        F_CREATE_BY,
        F_CREATE_TIME
        ) VALUES (
        #{parentId},
        #{name},
        #{code},
        #{identy},
        #{description},
        #{status},
        #{remark},
        #{createBy},
        now()
        );
    </insert>

    <!--修改节点-->
    <update id="updateDictionaryData" parameterType="java.util.Map">
        UPDATE t_data_dictionary SET
		 F_PARENT_ID=#{parentId},
		 F_NAME=#{name},
        <if test="code != null">
		 F_CODE= #{code},
        </if>
        <if test="identy != null">
		 F_IDENTY= #{identy},
        </if>
		 F_DESCRIPTION= #{description},
		 F_STATUS= #{status},
		 F_REMARK =  #{remark}
		WHERE F_DIC_ID=#{dicId}
    </update>

</mapper>